@font-face {
  font-family: "Gotham Nights";
  src: url("fonts/GothamNights.oft") format("opentype");
  src: url("fonts/GothamNights.woff2") format("woff2");
  src: url("fonts/GothamNights.woff") format("woff");
  src: url("fonts/GothamNights.ttf") format("truetype");
}

* {
  margin: 0;
}

body {
  background-color: rgb(19, 18, 18);
}

main {
  padding-top: 75px;
}

h1 {
  position: fixed;
  padding-top: 15px;
  padding-left: 15px;
  color: #f7f0f0;
  font-family: GothamNights, Gotham Nights;
  font-size: 40px;
}

ellipse:hover {
  animation: rotate 3s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) translateX(5px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(10px) rotate(-360deg);
  }
}

.hide {
  display: none;
}

text,
ellipse {
  cursor: pointer;
}

line {
  animation: opacity 2.5s;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

ellipse {
  animation: flip 3s;
}

@keyframes flip {
  from {
    transform: translateY(260px);
  }
  to {
    transform: translateY(1px);
  }
}
